@model DemoMVC.Models.Mascota

@{
    ViewData["Title"] = "Registrar Mascota";
}

<h2 class="mb-3">Registrar Mascota</h2>

<form asp-action="Crear" method="post" class="row g-3">

    <div class="col-md-6">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="col-md-6">
        <label asp-for="Tipo" class="form-label"></label>
        <select asp-for="Tipo" class="form-select">
            <option>Perro</option>
            <option>Gato</option>
            <option>Otro</option>
        </select>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">
            Guardar
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            Cancelar
        </a>
    </div>
</form>
